<ul id="barre">
<li><a href="/">Accueil</a></li>
<li><a href="/formulaire">Requête</a></li>
<li><a href="/seed">Seed</a></li>
<li><a href="/regions">Régions</a></li>
<li><a href="/fichiers">Fichiers</a></li>
</ul>