    <div id="_demo1">
	<select id="demo1"  name="demo1">
	    <option value="region">Région</option>
	    <option value="departement">Département</option>
	    <option value="ville">Ville</option>
	</select>
	<input type="text" id="afficheur1" name="valeur1" value="" readonly/>
	<input type="text" id="afficheur2" name="valeur2" value="" readonly size="20"/>
    </div>
