    <div id="_demo1">
	<select id="demo1"  name="demo1">
	    <option value="france">France</option>
	    <option value="region">Région</option>
	    <option value="departement">Département</option>
	    <option value="ville">Ville</option>
	</select>
	<input type="text" id="d1t1" name="valeur1" value="" readonly/>
	<input type="text" id="d1t2" name="valeur2" value="" readonly/>
    </div>
