    <div id="_demo2">
	<select id="demo2"  name="demo2">
	    <option value="france">France</option>
	    <option value="region">Région</option>
	    <option value="departement">Département</option>
	    <option value="ville">Ville</option>
	</select>
	<input type="text" id="d2t1" name="valeur1" value="" readonly/>
	<input type="text" id="d2t2" name="valeur2" value="" readonly/>
    </div>
