
<h1><span>Recherche par nom</span></h1>
    <form name="parLettre" id="parLettre">
	<label id="lettre" for="quantite">Nom</label>
	<input name="lettre" id="lettre" type="text" placeholder="Nom" />
    </form>
    <section id="panneau"></section>

