<details class="json">
<summary><span>Structure</span></summary>
<pre>
<code>
<span class="crochet">{</span>
  <span class="champs">"requete"</span>: <span class="crochet">{</span>
    "genre": <span>"x"</span>,
    "quantite": <span>"2"</span>,
    "plancher": <span>"1/1/1981"</span>,
    "plafond": <span>"10/10/2001"</span>,
    "determinant1": <span>"france"</span>,
    "valeur1": <span>""</span>,
    "determinant2": <span>"france"</span>,
    "valeur2": <span>""</span>,
    "seed": <span>"naruto"</span>,
    "horodateur": <span>"2022_01_31_09_13_52</span>"
  <span>}</span>,
 <span class="champs">"data"</span>:<span class="tableau">[</span>
   <span class="crochet">{</span>
      "nom": <span>"Favier"</span>,
      "prenom": <span>"Carl"</span>,
      "genre": <span>"h"</span>,
      "dob": <span>"2001-06-10T21:12:01.000Z"</span>,
      "jourNaissance": <span>"10/06/2001"</span>,
      "courriel": <span>"carl.favier@avranches.50.fr"</span>,
      "ss": <span>"1.01.06.93.007.421.XX"</span>,
      "adresse": <span>"278 quai Cléopatre Darleux"</span>,
      "adresseNumero": <span>278</span>,
      "adresseNom": <span>"quai Cléopatre Darleux"</span>,
      "villeResidenceInsee": <span>"50025"</span>,
      "villeResidenceNom": <span>"Avranches"</span>,
      "villeResidenceCodePostal": <span>"50300"</span>,
      "villeResidenceDepartementNom": <span>"Manche"</span>,
      "villeResidenceDepartementNumero": <span>"50"</span>,
      "villeNaissanceInsee": <span>"93007"</span>,
      "villeNaissanceNom": <span>"Le Blanc-Mesnil"</span>,
      "villeNaissanceCodePostal": <span>"93150"</span>,
      "villeNaissanceDepartementNom": <span>"Seine-Saint-Denis"</span>,
      "villeNaissanceDepartementNumero": <span>"93</span>"
    <span class="crochet">}</span>,
   <span class="crochet">{</span>
      "nom": <span>"Vigier"</span>,
      "prenom": <span>"Maiwenn"</span>,
      "genre": <span>"f"</span>,
      "dob": <span>"1987-03-21T06:00:14.000Z"</span>,
      "jourNaissance": <span>"21/03/1987"</span>,
      "courriel": <span>"maiwenn.vigier@le_val_d_ajol.88.fr"</span>,
      "ss": <span>"2.87.03.31.526.424.XX"</span>,
      "adresse": <span>"146 avenue de l’ambaville"</span>,
      "adresseNumero": <span>146</span>,
      "adresseNom": <span>"avenue de l’ambaville"</span>,
      "villeResidenceInsee": <span>"88487"</span>,
      "villeResidenceNom": <span>"Le Val-d’Ajol"</span>,
      "villeResidenceCodePostal": <span>"88340"</span>,
      "villeResidenceDepartementNom": <span>"Vosges"</span>,
      "villeResidenceDepartementNumero": <span>"88"</span>,
      "villeNaissanceInsee": <span>"31526"</span>,
      "villeNaissanceNom": <span>"La Salvetat-Saint-Gilles"</span>,
      "villeNaissanceCodePostal": <span>"31880"</span>,
      "villeNaissanceDepartementNom": <span>"Haute-Garonne"</span>,
      "villeNaissanceDepartementNumero": <span>"31</span>"
    <span class="crochet">}</span>
  <span class="tableau">]</span>
<span class="crochet">}</span>	</code>
</pre>
</details>
