<section id="lyon">
<h2><span>Arrondissements de Lyon</span></h2>
<div class="liste">
<div class="nomNumero"><span class"nomCommune">Lyon 1er</span> <span class="numeroCommune">69381</span></div>
<div class="nomNumero"><span class"nomCommune">Lyon 2e</span> <span class="numeroCommune">69382</span></div>
<div class="nomNumero"><span class"nomCommune">Lyon 3e</span> <span class="numeroCommune">69383</span></div>
<div class="nomNumero"><span class"nomCommune">Lyon 4e</span> <span class="numeroCommune">69384</span></div>
<div class="nomNumero"><span class"nomCommune">Lyon 5e</span> <span class="numeroCommune">69385</span></div>
<div class="nomNumero"><span class"nomCommune">Lyon 6e</span> <span class="numeroCommune">69386</span></div>
<div class="nomNumero"><span class"nomCommune">Lyon 7e</span> <span class="numeroCommune">69387</span></div>
<div class="nomNumero"><span class"nomCommune">Lyon 8e</span> <span class="numeroCommune">69388</span></div>
<div class="nomNumero"><span class"nomCommune">Lyon 9e</span> <span class="numeroCommune">69389</span></div>
</div>
</section>
