<section id="marseille">
<h2><span>Arrondissements de Marseille</span></h2>
<div class="liste">
<div class="nomNumero"><span class"nomCommune">Marseille 1er</span> <span class="numeroCommune">13201</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 2e</span> <span class="numeroCommune">13202</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 3e</span> <span class="numeroCommune">13203</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 4e</span> <span class="numeroCommune">13204</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 5e</span> <span class="numeroCommune">13205</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 6e</span> <span class="numeroCommune">13206</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 7e</span> <span class="numeroCommune">13207</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 8e</span> <span class="numeroCommune">13208</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 9e</span> <span class="numeroCommune">13209</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 10e</span> <span class="numeroCommune">13210</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 11e</span> <span class="numeroCommune">13211</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 12e</span> <span class="numeroCommune">13212</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 13e</span> <span class="numeroCommune">13213</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 14e</span> <span class="numeroCommune">13214</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 15e</span> <span class="numeroCommune">13215</span></div>
<div class="nomNumero"><span class"nomCommune">Marseille 16e</span> <span class="numeroCommune">13216</span></div>
</div>
</section>
