<section id="paris">
<h2><span>Arrondissements de Paris</span></h2>
<div class="liste">
<div class="nomNumero"><span class"nomCommune">Paris 1er</span> <span class="numeroCommune">75101</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 2e</span> <span class="numeroCommune">75102</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 3e</span> <span class="numeroCommune">75103</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 4e</span> <span class="numeroCommune">75104</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 5e</span> <span class="numeroCommune">75105</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 6e</span> <span class="numeroCommune">75106</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 7e</span> <span class="numeroCommune">75107</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 8e</span> <span class="numeroCommune">75108</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 9e</span> <span class="numeroCommune">75109</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 10e</span> <span class="numeroCommune">75110</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 11e</span> <span class="numeroCommune">75111</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 12e</span> <span class="numeroCommune">75112</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 13e</span> <span class="numeroCommune">75113</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 14e</span> <span class="numeroCommune">75114</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 15e</span> <span class="numeroCommune">75115</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 16e</span> <span class="numeroCommune">75116</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 17e</span> <span class="numeroCommune">75117</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 18e</span> <span class="numeroCommune">75118</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 19e</span> <span class="numeroCommune">75119</span></div>
<div class="nomNumero"><span class"nomCommune">Paris 20e</span> <span class="numeroCommune">75120</span></div>
</div>
</section>
