<article class="regions">
    <details>
	<summary><span class="isoRegion">FR-ARA</span> <span class="nomRegion">Auvergne-Rhône-Alpes</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Ain</span> <span class="dpt">01</span></li>
	    <li><span class="nomDpt">Allier</span> <span class="dpt">03</span></li>
	    <li><span class="nomDpt">Ardèche</span> <span class="dpt">07</span></li>
	    <li><span class="nomDpt">Cantal</span> <span class="dpt">15</span></li>
	    <li><span class="nomDpt">Drôme</span> <span class="dpt">26</span></li>
	    <li><span class="nomDpt">Isère</span> <span class="dpt">38</span></li>
	    <li><span class="nomDpt">Loire</span> <span class="dpt">42</span></li>
	    <li><span class="nomDpt">Haute-Loire</span> <span class="dpt">43</span></li>
	    <li><span class="nomDpt">Puy-de-Dôme</span> <span class="dpt">63</span></li>
	    <li><span class="nomDpt">Rhône</span> <span class="dpt">69</span></li>
	    <li><span class="nomDpt">Savoie</span> <span class="dpt">73</span></li>
	    <li><span class="nomDpt">Haute-Savoie</span> <span class="dpt">74</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-BFC</span> <span class="nomRegion">Bourgogne-Franche-Comté</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Côte-d’Or</span> <span class="dpt">21</span></li>
	    <li><span class="nomDpt">Doubs</span> <span class="dpt">25</span></li>
	    <li><span class="nomDpt">Jura</span> <span class="dpt">39</span></li>
	    <li><span class="nomDpt">Nièvre</span> <span class="dpt">58</span></li>
	    <li><span class="nomDpt">Haute-Saône</span> <span class="dpt">70</span></li>
	    <li><span class="nomDpt">Saône-et-Loire</span> <span class="dpt">71</span></li>
	    <li><span class="nomDpt">Yonne</span> <span class="dpt">89</span></li>
	    <li><span class="nomDpt">Territoire de Belfort</span> <span class="dpt">90</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-BRE</span> <span class="nomRegion">Bretagne</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Côtes-d’Armor</span> <span class="dpt">22</span></li>
	    <li><span class="nomDpt">Finistère</span> <span class="dpt">29</span></li>
	    <li><span class="nomDpt">Ille-et-Vilaine</span> <span class="dpt">35</span></li>
	    <li><span class="nomDpt">Morbihan</span> <span class="dpt">56</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-CVL</span> <span class="nomRegion">Centre-Val de Loire</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Cher</span> <span class="dpt">18</span></li>
	    <li><span class="nomDpt">Eure-et-Loir</span> <span class="dpt">28</span></li>
	    <li><span class="nomDpt">Indre</span> <span class="dpt">36</span></li>
	    <li><span class="nomDpt">Indre-et-Loire</span> <span class="dpt">37</span></li>
	    <li><span class="nomDpt">Loir-et-Cher</span> <span class="dpt">41</span></li>
	    <li><span class="nomDpt">Loiret</span> <span class="dpt">45</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-COR</span> <span class="nomRegion">Corse</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Haute-Corse</span> <span class="dpt">2B</span></li>
	    <li><span class="nomDpt">Corse-du-Sud</span> <span class="dpt">2A</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-GES</span> <span class="nomRegion">Grand Est</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Ardennes</span> <span class="dpt">08</span></li>
	    <li><span class="nomDpt">Aube</span> <span class="dpt">10</span></li>
	    <li><span class="nomDpt">Marne</span> <span class="dpt">51</span></li>
	    <li><span class="nomDpt">Haute-Marne</span> <span class="dpt">52</span></li>
	    <li><span class="nomDpt">Meurthe-et-Moselle</span> <span class="dpt">54</span></li>
	    <li><span class="nomDpt">Meuse</span> <span class="dpt">55</span></li>
	    <li><span class="nomDpt">Moselle</span> <span class="dpt">57</span></li>
	    <li><span class="nomDpt">Bas-Rhin</span> <span class="dpt">67</span></li>
	    <li><span class="nomDpt">Haut-Rhin</span> <span class="dpt">68</span></li>
	    <li><span class="nomDpt">Vosges</span> <span class="dpt">88</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-HDF</span> <span class="nomRegion">Hauts-de-France</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Aisne</span> <span class="dpt">02</span></li>
	    <li><span class="nomDpt">Nord</span> <span class="dpt">59</span></li>
	    <li><span class="nomDpt">Oise</span> <span class="dpt">60</span></li>
	    <li><span class="nomDpt">Pas-de-Calais</span> <span class="dpt">62</span></li>
	    <li><span class="nomDpt">Somme</span> <span class="dpt">80</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-IDF</span> <span class="nomRegion">Île-de-France</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Paris</span> <span class="dpt">75</span></li>
	    <li><span class="nomDpt">Seine-et-Marne</span> <span class="dpt">77</span></li>
	    <li><span class="nomDpt">Yvelines</span> <span class="dpt">78</span></li>
	    <li><span class="nomDpt">Essonne</span> <span class="dpt">91</span></li>
	    <li><span class="nomDpt">Hauts-de-Seine</span> <span class="dpt">92</span></li>
	    <li><span class="nomDpt">Seine-Saint-Denis</span> <span class="dpt">93</span></li>
	    <li><span class="nomDpt">Val-de-Marne</span> <span class="dpt">94</span></li>
	    <li><span class="nomDpt">Val-d’Oise</span> <span class="dpt">95</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-NOR</span> <span class="nomRegion">Normandie</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Calvados</span> <span class="dpt">14</span></li>
	    <li><span class="nomDpt">Eure</span> <span class="dpt">27</span></li>
	    <li><span class="nomDpt">Manche</span> <span class="dpt">50</span></li>
	    <li><span class="nomDpt">Orne</span> <span class="dpt">61</span></li>
	    <li><span class="nomDpt">Seine-Maritime</span> <span class="dpt">76</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-NAQ</span> <span class="nomRegion">Nouvelle-Aquitaine</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Charente</span> <span class="dpt">16</span></li>
	    <li><span class="nomDpt">Charente-Maritime</span> <span class="dpt">17</span></li>
	    <li><span class="nomDpt">Corrèze</span> <span class="dpt">19</span></li>
	    <li><span class="nomDpt">Creuse</span> <span class="dpt">23</span></li>
	    <li><span class="nomDpt">Dordogne</span> <span class="dpt">24</span></li>
	    <li><span class="nomDpt">Gironde</span> <span class="dpt">33</span></li>
	    <li><span class="nomDpt">Landes</span> <span class="dpt">40</span></li>
	    <li><span class="nomDpt">Lot-et-Garonne</span> <span class="dpt">47</span></li>
	    <li><span class="nomDpt">Pyrénées-Atlantiques</span> <span class="dpt">64</span></li>
	    <li><span class="nomDpt">Deux-Sèvres</span> <span class="dpt">79</span></li>
	    <li><span class="nomDpt">Vienne</span> <span class="dpt">86</span></li>
	    <li><span class="nomDpt">Haute-Vienne</span> <span class="dpt">87</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-OCC</span> <span class="nomRegion">Occitanie</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Ariège</span> <span class="dpt">09</span></li>
	    <li><span class="nomDpt">Aude</span> <span class="dpt">11</span></li>
	    <li><span class="nomDpt">Aveyron</span> <span class="dpt">12</span></li>
	    <li><span class="nomDpt">Gard</span> <span class="dpt">30</span></li>
	    <li><span class="nomDpt">Haute-Garonne</span> <span class="dpt">31</span></li>
	    <li><span class="nomDpt">Gers</span> <span class="dpt">32</span></li>
	    <li><span class="nomDpt">Hérault</span> <span class="dpt">34</span></li>
	    <li><span class="nomDpt">Lot</span> <span class="dpt">46</span></li>
	    <li><span class="nomDpt">Lozère</span> <span class="dpt">48</span></li>
	    <li><span class="nomDpt">Hautes-Pyrénées</span> <span class="dpt">65</span></li>
	    <li><span class="nomDpt">Pyrénées-Orientales</span> <span class="dpt">66</span></li>
	    <li><span class="nomDpt">Tarn</span> <span class="dpt">81</span></li>
	    <li><span class="nomDpt">Tarn-et-Garonne</span> <span class="dpt">82</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-PDL</span> <span class="nomRegion">Pays de la Loire</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Loire-Atlantique</span> <span class="dpt">44</span></li>
	    <li><span class="nomDpt">Maine-et-Loire</span> <span class="dpt">49</span></li>
	    <li><span class="nomDpt">Mayenne</span> <span class="dpt">53</span></li>
	    <li><span class="nomDpt">Sarthe</span> <span class="dpt">72</span></li>
	    <li><span class="nomDpt">Vendée</span> <span class="dpt">85</span></li>
	</ul>
    </details>
    <details>
	<summary><span class="isoRegion">FR-PAC</span> <span class="nomRegion">Provence-Alpes-Côte d’Azur</span></summary>
	<ul class="departements">
	    <li><span class="nomDpt">Alpes-de-Haute-Provence</span> <span class="dpt">04</span></li>
	    <li><span class="nomDpt">Hautes-Alpes</span> <span class="dpt">05</span></li>
	    <li><span class="nomDpt">Alpes-Maritimes</span> <span class="dpt">06</span></li>
	    <li><span class="nomDpt">Bouches-du-Rhône</span> <span class="dpt">13</span></li>
	    <li><span class="nomDpt">Var</span> <span class="dpt">83</span></li>
	    <li><span class="nomDpt">Vaucluse</span> <span class="dpt">84</span></li>
	</ul>
    </details>

    <details>
	<summary><span class="isoRegion">FR-GUA</span> <span class="nomRegion">Guadeloupe</span>
	</summary>
	<ul><li><span class="dpt">971</span></li></ul>
    </details>
    
    <details>
	<summary><span class="isoRegion">FR-GUF</span> <span class="nomRegion">Guyane</span>
	</summary>
	<ul><li><span class="dpt">973</span></li></ul>
    </details>

    <details>
	<summary><span class="isoRegion">FR-MTQ</span> <span class="nomRegion">Martinique</span>
	</summary>
	<ul><li><span class="dpt">972</span></li></ul>
    </details>

    <details>
	<summary><span class="isoRegion">FR-LRE</span> <span class="nomRegion">La Réunion</span>
	</summary>
	<ul><li><span class="dpt">974</span></li></ul>
    </details>

    <details>
	<summary><span class="isoRegion">FR-MAY</span> <span class="nomRegion">Mayotte</span>
	</summary>
	<ul><li><span class="dpt">976</span></li></ul>
    </details>
</article>
