<form id="seed" name="seed" action="/seed"  method="post">
	<label id="actuelle" for="actuelle">Actuelle</label>
	<input name="actuelle" id="actuel" type="text"  readonly="true" value="<%- actuelle %>"/>
	<label id="nouvelle" for="nouvelle">Nouvelle</label>
	<input name="nouvelle" id="nouveau" type="text"  value=""/>
	<input id="envoi" type="submit" value="Envoi" />
</form>
