<section id="principales">
<h2><span>Communes les plus peuplées</span></h2>
<div class="liste">
<div class="nomNumero"><span class"nomCommune">Toulouse</span> <span class="numeroCommune">31555</span></div>
<div class="nomNumero"><span class"nomCommune">Nice</span> <span class="numeroCommune">06088</span></div>
<div class="nomNumero"><span class"nomCommune">Nantes</span> <span class="numeroCommune">44109</span></div>
<div class="nomNumero"><span class"nomCommune">Montpellier</span> <span class="numeroCommune">34172</span></div>
<div class="nomNumero"><span class"nomCommune">Strasbourg</span> <span class="numeroCommune">67482</span></div>
<div class="nomNumero"><span class"nomCommune">Bordeaux</span> <span class="numeroCommune">33063</span></div>
<div class="nomNumero"><span class"nomCommune">Lille</span> <span class="numeroCommune">59350</span></div>
<div class="nomNumero"><span class"nomCommune">Rennes</span> <span class="numeroCommune">35238</span></div>
<div class="nomNumero"><span class"nomCommune">Reims</span> <span class="numeroCommune">51454</span></div>
<div class="nomNumero"><span class"nomCommune">Toulon</span> <span class="numeroCommune">83137</span></div>
<div class="nomNumero"><span class"nomCommune">Saint-Étienne</span> <span class="numeroCommune">42218</span></div>
<div class="nomNumero"><span class"nomCommune">Le Havre</span> <span class="numeroCommune">76351</span></div>
<div class="nomNumero"><span class"nomCommune">Dijon</span> <span class="numeroCommune">21231</span></div>
<div class="nomNumero"><span class"nomCommune">Grenoble</span> <span class="numeroCommune">38185</span></div>
<div class="nomNumero"><span class"nomCommune">Angers</span> <span class="numeroCommune">49007</span></div>
<div class="nomNumero"><span class"nomCommune">Saint-Denis</span> <span class="numeroCommune">97411</span></div>
<div class="nomNumero"><span class"nomCommune">Villeurbanne</span> <span class="numeroCommune">69266</span></div>
<div class="nomNumero"><span class"nomCommune">Nîmes</span> <span class="numeroCommune">30189</span></div>
<div class="nomNumero"><span class"nomCommune">Clermont-Ferrand</span> <span class="numeroCommune">63113</span></div>
<div class="nomNumero"><span class"nomCommune">Aix-en-Provence</span> <span class="numeroCommune">13001</span></div>
</div>
</section>
